html {
	font: 1em/1.5 Georgia, serif;
	background: silver;
}


h1, h2, h3, h4 {
	line-height: ;
}

h1 {
	font-size: 2.0736em;
	margin-top: 0;
}

h2 {
	font-size: 1.7280em;
}

h3 {
	font-size: 1.4400em;
}

h4 {
	font-size: 1.2000em;
}
body {
	margin: 0 320px 0 0;
	padding: 0;
	background: white;

}
body > div {
	overflow: hidden;
}
main {
	padding: 0;
	position: relative;
	transition: box-shadow .3s;
	overflow: hidden;
}

main.active {
	box-shadow: 0 0 0 1px hsla(0,100%,20%,.5);
	transition: box-shadow 0;
}
#toolset {
	width: 310px;
	position: fixed;
	top: 0;
	right: 0;
	background: white;
	height: 100vh;
	overflow-y: scroll;
	font-family: "Fedra Sans Condensed", Neutral, "Irma Text Narrow";
	font-style: Normal;
	font-weight: 400;
	font-stretch: normal;
	margin: 0;
	padding: 0;
	line-height: 1.25;
	color: black !important;
}
#toolset, #toolset select, #toolset input {
	font-size: 16px !important;
	font-family: "Fedra Sans Condensed", Neutral, "Irma Text Narrow";
	font-style: Normal;
	font-weight: 400;
	font-stretch: normal;
}
#toolset input:focus, #toolset select:focus {
	box-shadow: 0 0 .2em .2em hsla(150,50%,40%,.5)
}
#toolset .pefect input:focus, #toolset .pefect select:focus {
	box-shadow: 0 0 .2em .2em hsla(90,50%,50%,.5)
}
#toolset .alert input:focus, #toolset .alert select:focus {
	box-shadow: 0 0 .2em .2em hsla(0,50%,50%,.5)
}
#toolset label {
	display: block;
	border-bottom: 1px solid #ebebeb;
	margin: 0 0 .3em;
	padding: .2em .2em .5em;
}
#toolset label:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
#toolset label input,
#toolset label select {
	display: block;
}
#toolset label input[type="checkbox"],
#toolset label input[type="radio"] {
	display: inline-block;
}
#toolset label span {
	display: flex; 
	clear: right;
}

#toolset label a {
	float: right;
	font-size: .8em;
	color: blue;
}
#toolset label a span {
	display: inline-block;
	opacity: 0;
	position: absolute;
}
#toolset label a:hover span:first-child {
	position: relative;
	opacity: 1;
	margin-right: -.5em;
	background: white;
	z-index: 2;
	border: 1px solid;
	border-width: 1px 0 1px 1px;
	padding: 0 0 0 .3em;
	transition: opacity .25s;
}
#toolset label a span + span {
	position: static;
	opacity: 1;
	border: 1px solid;
	border-radius: 100%;
	width: 1.5em;
	height: 1.35em;
	text-align: center;
	padding: .15em 0 0;
	margin-right: 0;
}
#toolset output {
	width: 4em;
	text-align: right;
}
#toolset .alert output {
	color: red;
}
#toolset .pefect output {
	color: green;
}

#toolset legend {
	font-weight: 600;
  	font-style: normal;
  	background: white;
  	line-height: 1;
}
#toolset .closed legend {
	font-style: italic;
}
#toolset fieldset fieldset legend {
	font-weight: 500;
}
#toolset fieldset fieldset fieldset legend {
	font-style: italic;
}
#toolset fieldset {
	padding: .5em .5em .5em 1em;
	margin: 1em .5em;
  	color: black;
  	border: 1px solid;
  	transition: .3s;
}
#toolset fieldset fieldset {
	margin: .5em -.5em .5em -1em;
	border-width: 1px 0 0;
}
#toolset .closed {
	padding: 0 .5em 0 1em;
	border-width: 1px 0 0;
}
#toolset .closed > *:not(legend) {
	max-height: 1px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	opacity: 0;
	position: absolute;
}
#toolset fieldset > legend::before {
	content: '+';
	position: absolute;
	margin-left: calc(-1.1em - 1px);
	width: 1.1em;
	text-align: center;
	opacity: 0;
	background: white;

}
#toolset .closed > legend::before {
	content: '+';
	position: absolute;
	opacity: 1;
	transition: 0s .3s;
}

#help-section {
	font-size: 16px !important;
	position: fixed;
	border: 0 solid rgba(0,0,0,.5);
	overflow-y: scroll;
	z-index: 3;
	top: 38.8889vh;
	left: 50vw;
	right: 50vw;
	bottom: 61.1111vh;
	opacity: 0;
	font-family: Neutral, "Irma Text Narrow";
	font-style: Normal;
	font-weight: 400;
	font-stretch: normal;
	width: 1px;
	height: 1px;
}
#help-section * {
	font-size: inherit !important;
}
#help-section.is-open {
	display: block;
	opacity: 1;
	transition: .3s;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	border-width: 11.1111vh 11.1111vw 22.2222vh;
	width: 77.77777vw;
	height: 66.6666vh;
}
#help-section p {
	max-width: 30em;
}
#help-section div {
	background: white;
	padding: 5.5555vh 5.5555% 11.1111vh;
	min-height: 66.6666vh;
	box-sizing: border-box;
}
#help-section h1 {
	font-size: 1em;
	min-height: 11vh;
	font-weight: 500;
	margin-top: 0;
}
#help-section h2 {
	font-size: 1em;
	margin-top: 5.5555vh;
	margin-bottom: 0em;
	font-style: italic;
	font-weight: 500;
}
#help-section ul {
	margin: 1em 0;
	padding: 0;
}
object h1 {
	color: red;
}

pre {
	//position: absolute;
	top: 0;
	background: white;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
}
pre > span {
	display: block;
}
pre span:empty {
	display: none;
}
pre span span + span {
	display: block;
}
pre span span + span::before {
	content: '	';
}
